<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notesbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".uploadsem3co"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3cs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3mo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3ms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3m3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4im"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4tom"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".uploadsem4mt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4m"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4fmm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4m4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5wn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5ms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5hp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5vi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5da"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5ti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem6camd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem6pe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem6plc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem7te"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem7ir"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem8aeh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsem3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uploadsemsel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zoomimage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem8aeh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem7te"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem7ir"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem6camd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem6pe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem6plc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5wn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5ms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5hp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5vi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5da"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5ti"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4im"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4tom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4mt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4m"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4fmm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3ms"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3mo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3cs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3co"
            android:screenOrientation="portrait" />
        <activity
            android:name=".m4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".m3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sem3"
            android:screenOrientation="portrait" />
        <activity android:name=".uploadmain" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.filepicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xml" />
        </provider>
    </application>

</manifest>